/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 70px;
}
footer {
  padding: 30px 0;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -100%; /* 12 columns */
  }

  .row-offcanvas-right.active
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -100%; /* 12 columns */
  }

  .row-offcanvas-left.active
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}


/*FIREBOT*/

.tide{
    height: 100px;
    border: 1px solid gray;
    background: rgb(246,248,249); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
}
.exit{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#adffc0+0,e5ebee+50,d7dee3+51,38f778+100 */
background: rgb(173,255,192); /* Old browsers */
background: -moz-linear-gradient(top, rgba(173,255,192,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(56,247,120,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(173,255,192,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(56,247,120,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(173,255,192,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(56,247,120,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#adffc0', endColorstr='#38f778',GradientType=0 ); /* IE6-9 */
    border: 2px solid green;
}
.margin-title{
    margin: 50px 0;
}
.title{
    font-family: 'Geo', sans-serif;
    font-size: 55px;
}
.aparato{
    width: 30px;
    vertical-align:top;
    border: 2px solid orange;
    height: 50px;
    margin: 20px 1px;
    align-self: center;
    padding: 0px 2px;
    color: antiquewhite;
    display: inline-block;
    font-family: 'Geo', sans-serif;
    font-size: 15px;
}

.robot{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 20px auto; 
    background: url("../Butter_Robot.png");
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}
.fire{
    
}